<p id="notice"><%= notice %></p>

<h1>Records</h1>

<%= link_to '新增學生', new_record_path, class: "btn btn-success " %>

<table class="table">
  <thead>
    <tr>
      <th>姓名</th>
      <th>學號</th>
      <th>分數</th>
      <th>處理</th>
      <th ></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <hr>
       <P>分數級別說明：90 分以上 S / 80 ~ 89：A 級 / 70 ~ 79：B 級 / 60 ~ 69：C 級 / 未滿 60：D 級</P>
      </tr>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.name %></td>
        <td><%= record.student_id %></td>
        <td><%= (record.grade) %></td>
<!--         <td><%= link_to 'Show', record %></td> -->
        <td><%= link_to '編輯', edit_record_path(record), class: "btn btn-success btn-sm" %></td>
        <td><%= link_to '刪除', record, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
